<template>
  <v-container lass="fill-height mb-5">
    <v-row align="center" justify="center">
      <v-col cols="12">
        <v-card class="mb-12">
          <div v-for="(contents, index) in questions.contents" :key="index">
            <v-toolbar color="primary" dark flat>
              <v-toolbar-title v-html="contents.title"></v-toolbar-title>
            </v-toolbar>
            <p class="pr-5 pt-2 pl-5" v-html="contents.text"></p>
            <div v-if="contents.title === questions.contents[0].title">
              <div v-if="questions.diagnoses !== null">
                <v-toolbar color="primary" dark flat>
                  <v-toolbar-title>Analyse</v-toolbar-title>
                </v-toolbar>
              </div>
              <div
                v-for="(diagnoses, index) in questions.diagnoses"
                :key="index"
              >
                <h2 class="pr-5 pl-5" v-html="diagnoses.label"></h2>
                <v-row>
                  <v-col justify="center" align="center">
                    <p>Probabilité</p>
                    <div>
                      <v-progress-circular
                        :rotate="360"
                        :size="100"
                        :width="15"
                        :value="diagnoses.probability"
                        color="red"
                        >{{ diagnoses.probability + "%" }}</v-progress-circular
                      >
                    </div>
                  </v-col>
                </v-row>
                <v-runtime-template
                  v-if="diagnoses.subject"
                  class="pr-5 pl-5"
                  :template="replace(diagnoses.subject.text)"
                ></v-runtime-template>
                <hr />
              </div>
            </div>
            <div v-if="contents.text == null">
              <div v-for="(content, index) in contents.contents" :key="index">
                <h3 class="pr-5 pl-5" v-html="content.title + ':'"></h3>
                <p class="pr-5 pl-5 pb-5" v-html="content.text"></p>
              </div>
            </div>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import formradio from "./formRadio";
import VTooltip from "v-tooltip";
import VRuntimeTemplate from "v-runtime-template";

export default {
  name: "formresult",
  components: {
    VRuntimeTemplate
  },
  data() {
    return {
      textReplace: "",
      definition: "coisjrmoifjqepoirfjpqoierjf"
    };
  },

  created() {
    this.loadQuestions();
  },

  methods: {
    loadQuestions() {
      this.questions = this.$store.state.diagnostic.questions;
    },
    replace(text) {
      console.log(text);
      text = text.replace(
        /data-subject-definition="(.*?)">/g,
        "v-tooltip.top-center=\"'$1'\">"
      );
      let reg = /"'([^"]+?)('+)([^"]+?)'">/g;
      while (text.match(reg) !== null) {
        text = text.replace(reg, "\"'$1£%£$3'\">");
      }

      text = text.replace(/£%£/g, "\\'");

      let tmp = "<div>" + text + "</div>";

      return tmp;
    }
  }
};
</script>
<style>
.tooltip {
  display: block !important;
  z-index: 10000;
  max-width: 40%;
}
.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
}
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"] {
  margin-left: 5px;
}
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.tooltip[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}
.tooltip[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}
</style>
