<template>
  <v-container class="fill-height mb-10" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-card>
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Symptôme</v-toolbar-title>
          </v-toolbar>
          <v-col class="d-flex" cols="12">
            <formselect
              :question="questions.symptoms"
              @change="formSymptomFilter()"
              v-model="sympomsCategory"
              text="category"
              labels="Catégories"
            ></formselect>
          </v-col>
          <div v-if="showZoneSymptome">
            <v-col class="d-flex" cols="12">
              <formselect
                labels="Zone"
                :question="questionsAfterCategory"
                @change="formSymptomFilter()"
                v-model="symptomsZone"
                text="zone"
                :disabled="disabledZone"
              ></formselect>
            </v-col>
          </div>
          <v-col class="d-flex" cols="12">
            <formselect
              labels="Symptomes"
              :question="questionsAfterZone"
              @change="formSymptomFilter()"
              v-model="answeres"
              value="id"
              text="label"
              :disabled="disabledSymptoms"
            ></formselect>
          </v-col>
          <div class="text-center pb-5">
            <v-btn color="primary lighten-1" @click="$emit('submitEvent',answeres)">Envoyer</v-btn>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import formselect from "./formSelect";
export default {
  name: "formsymptom",
  components: {
    formselect
  },
  data() {
    return {
      loading: true,
      questions: [],
      answeres: {},
      checkTypeQuestion: "",
      /*
        Cette parti est reserver aux questions
        lié au questionaire symptome
       */
      questionsAfterCategory: [],
      showZoneSymptome: true,
      disabledZone: true,
      disabledSymptoms: true,
      questionsAfterZone: [],
      sympomsCategory: "",
      symptomsZone: "",
      checkposibleAnswere: []
    };
  },

  created() {
    this.loadQuestions();
  },

  methods: {
    loadQuestions() {
      this.questions = this.$store.state.diagnostic.questions;
    },

    /*
        Cette parti est reserver aux questions
        lié symptome pour, il a pour but de filtrer 
        les questions suivantes par rapport à la question précédant.
    */
    formSymptomFilter() {
      let questions = this.questions.symptoms;
      let categoryFilter = this.sympomsCategory;
      let zoneFilter = this.symptomsZone;
      let resultFilterCategory = [];
      let resultIfCategoryZoneNull = [];
      let resultIfCategoryZoneNotNull = [];

      for (let index in questions) {
        if (questions[index].category == categoryFilter) {
          resultFilterCategory.push(questions[index]);
        }
      }
      for (let index2 in resultFilterCategory) {
        if (resultFilterCategory[index2].zone == null) {
          resultIfCategoryZoneNull.push(resultFilterCategory[index2]);
          this.questionsAfterZone = resultIfCategoryZoneNull;
          this.showZoneSymptome = false;
          this.disabledSymptoms = false;
        } else {
          this.showZoneSymptome = true;
          this.disabledSymptoms = true;
          this.disabledZone = false;
        }
      }
      for (let index3 in resultFilterCategory) {
        if (
          resultFilterCategory[index3].zone == zoneFilter &&
          zoneFilter != null
        ) {
          resultIfCategoryZoneNotNull.push(resultFilterCategory[index3]);
          this.questionsAfterZone = resultIfCategoryZoneNotNull;
          this.disabledSymptoms = false;
        }
      }

      if (this.questionsAfterZone == null) {
        this.formSymptomFilter();
      }

      this.questionsAfterCategory = resultFilterCategory;
    }
  }
};
</script>