<template>
  <v-select
    @change="$emit('change', $event)"
    :items="question"
    :item-text="text"
    :label="labels"
    :item-value="value"
    :disabled="disabled"
    dense
  ></v-select>
</template>

<script>
export default {
  name: "formselect",

  model: {
    prop: "responce",
    event: "change"
  },

  props: {
    question: {
      type: [Object, Array],
      required: true
    },
    text: String,
    labels: String,
    value: String,
    responce: "",
    disabled: Boolean
  },

  data() {
    return {
      checked: []
    };
  }
};
</script>
