<template>
  <v-container class="fill-height mb-10" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="4">
        <v-card>
          <div v-for="question in questions.questions" :key="question.code">
            <!-- Si les quesions sont multiple -->
            <div v-if="question.multiple">
              <!-- Si il y a des sous questions -->
              <div v-if="question.answers === null">
                <div
                  v-for="(sousQuestions, index) in question.questions"
                  :key="index"
                >
                  <!-- Si les sous question sont multiple -->
                  <div v-if="sousQuestions.multiple === true">
                    <v-toolbar color="primary" dark flat>
                      <v-toolbar-title>{{
                        sousQuestions.label
                      }}</v-toolbar-title>
                    </v-toolbar>
                    <div class="pr-5 pt-2 pl-5">
                      <formcheckbox
                        v-for="answersCheckBox in sousQuestions.answers"
                        :key="answersCheckBox.code"
                        :question="answersCheckBox"
                        v-model="
                          answeres[
                            sousQuestions.type + '|' + answersCheckBox.code
                          ]
                        "
                      ></formcheckbox>
                    </div>
                  </div>
                  <!-- Si les sous question sont pas multiple-->
                  <div v-if="sousQuestions.multiple === null">
                    <v-toolbar color="primary" dark flat>
                      <v-toolbar-title>{{
                        sousQuestions.label
                      }}</v-toolbar-title>
                    </v-toolbar>
                    <div class="pr-5 pt-2 pl-5">
                      <formradio
                        :question="sousQuestions"
                        v-model="
                          answeres[
                            sousQuestions.type + '|' + sousQuestions.code
                          ]
                        "
                      ></formradio>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Cas spéciale ou il faut tout afficher dans la partie question et answers -->
              <div
                v-if="
                  question.answers !== null &&
                    question.questions !== null &&
                    question.code !== null
                "
              >
                <div
                  v-for="(sousQuestions, index) in question.questions"
                  :key="index"
                >
                  <v-toolbar color="primary" dark flat>
                    <v-toolbar-title>{{ sousQuestions.label }}</v-toolbar-title>
                  </v-toolbar>
                  <div class="pr-5 pt-2 pl-5">
                    <formcheckbox
                      v-for="answersCheckBox in sousQuestions.answers"
                      :key="answersCheckBox.code"
                      :question="answersCheckBox"
                      v-model="
                        answeres[
                          sousQuestions.type + '|' + answersCheckBox.code
                        ]
                      "
                    ></formcheckbox>
                  </div>
                </div>
                <div
                  v-for="(sousQuestions, index) in question.answeres"
                  :key="index"
                >
                  <div class="pr-5 pt-2 pl-5">
                    <formcheckbox
                      v-for="answersCheckBox in sousQuestions.questions"
                      :key="answersCheckBox.code"
                      :question="answersCheckBox"
                      v-model="
                        answeres[
                          sousQuestions.type + '|' + answersCheckBox.code
                        ]
                      "
                    ></formcheckbox>
                  </div>
                </div>
              </div>
              <!--  Dans ce cas , si la question présent dans la prop answers est validé, il faut afficher les questions contenue dans la prop questions -->
              <div
                v-if="
                  question.answers !== null &&
                    question.questions !== null &&
                    question.code == null
                "
              >
                <v-toolbar color="primary" dark flat>
                  <v-toolbar-title>{{ question.label }}</v-toolbar-title>
                  <v-toolbar-title v-if="question.label == null">{{
                    question.category
                  }}</v-toolbar-title>
                </v-toolbar>
                <div class="pr-5 pt-2 pl-5">
                  <formcheckbox
                    v-for="answersCheckBox in question.answers"
                    @my-event="tmp"
                    :key="answersCheckBox.code"
                    :question="answersCheckBox"
                    v-model="
                      answeres[question.type + '|' + answersCheckBox.code]
                    "
                  ></formcheckbox>
                </div>
                <!-- Si la réponse checker est bien égale à la réponse présent dans le formulaire d'en haut -->
                <div
                  v-for="(answersCheckBox, index) in question.answers"
                  :key="index"
                >
                  <div v-if="checkboxDynamic == answersCheckBox.code">
                    <div
                      v-for="(sousQuestions, index) in question.questions"
                      :key="index"
                    >
                      <header class="pr-5 pt-2 pl-5">
                        {{ sousQuestions.label }}
                      </header>
                      <header
                        class="pr-5 pt-2 pl-5"
                        v-if="sousQuestions.label == null"
                      >
                        {{ sousQuestions.category }}
                      </header>

                      <div class="pr-5 pt-2 pl-5">
                        <formcheckbox
                          v-for="answersCheckBox in sousQuestions.answers"
                          :key="answersCheckBox.code"
                          :question="answersCheckBox"
                          v-model="
                            answeres[
                              sousQuestions.type + '|' + answersCheckBox.code
                            ]
                          "
                        ></formcheckbox>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div v-else>
                <v-toolbar color="primary" dark flat>
                  <v-toolbar-title>{{ question.label }}</v-toolbar-title>
                  <v-toolbar-title v-if="question.label == null">{{
                    question.category
                  }}</v-toolbar-title>
                </v-toolbar>
                <div class="pr-5 pt-2 pl-5">
                  <formcheckbox
                    v-for="answersCheckBox in question.answers"
                    :key="answersCheckBox.code"
                    :question="answersCheckBox"
                    v-model="
                      answeres[question.type + '|' + answersCheckBox.code]
                    "
                  ></formcheckbox>
                </div>
              </div>
            </div>

            <!-- Si les questions sont pas multiple -->
            <div v-if="!question.multiple">
              <!-- Si il y a des sous questions -->
              <div v-if="question.answers == null">
                <div
                  v-for="(sousQuestions, index) in question.questions"
                  :key="index"
                >
                  <!-- Si les sous questions sont multiple -->
                  <div v-if="sousQuestions.multiple === true">
                    <v-toolbar color="primary" dark flat>
                      <v-toolbar-title>{{
                        sousQuestions.label
                      }}</v-toolbar-title>
                    </v-toolbar>
                    <div class="pr-5 pt-2 pl-5">
                      <formcheckbox
                        v-for="answersCheckBox in sousQuestions.answers"
                        :key="answersCheckBox.code"
                        :question="answersCheckBox"
                        v-model="
                          answeres[
                            sousQuestions.type + '|' + answersCheckBox.code
                          ]
                        "
                      ></formcheckbox>
                    </div>
                  </div>
                  <!-- Si les sous questions sont pas multiple -->
                  <div v-if="sousQuestions.multiple === null">
                    <v-toolbar color="primary" dark flat>
                      <v-toolbar-title>{{
                        sousQuestions.label
                      }}</v-toolbar-title>
                    </v-toolbar>
                    <div class="pr-5 pt-2 pl-5">
                      <formradio
                        :question="sousQuestions"
                        v-model="
                          answeres[
                            sousQuestions.type + '|' + sousQuestions.code
                          ]
                        "
                      ></formradio>
                    </div>
                  </div>
                </div>
              </div>
              <div v-else>
                <v-toolbar color="primary" dark flat>
                  <v-toolbar-title>{{ question.label }}</v-toolbar-title>
                  <v-toolbar-title v-if="question.label == null">{{
                    question.category
                  }}</v-toolbar-title>
                </v-toolbar>
                <div class="pr-5 pt-2 pl-5">
                  <formradio
                    :question="question"
                    v-model="answeres[question.type + '|' + question.code]"
                  ></formradio>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center pb-5">
            <v-btn
              color="primary lighten-1"
              @click="$emit('submitEvent', answeres)"
              >Envoyer</v-btn
            >
          </div>
          <!--  {{answeres}} -->
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import formradio from "./formRadio";
import formcheckbox from "./formCheckBox";

export default {
  name: "formexpert",
  components: {
    formradio,
    formcheckbox
  },
  icon: {
    iconfont: "fa",
    checkboxOff: "far fa-circle",
    checkboxOn: "fas fa-check-circle"
  },
  icon: {
    iconfont: "fa",
    checkboxOff: "far fa-square",
    checkboxOn: "fas fa-check-square"
  },
  data() {
    return {
      checkboxDynamic: " ",
      questions: [],
      answeres: {},
      checkTypeQuestion: ""
    };
  },

  created() {
    this.loadQuestions();
  },

  methods: {
    tmp(event) {
      this.checkboxDynamic = event;
    },

    loadQuestions() {
      this.questions = this.$store.state.diagnostic.questions;
    }
  }
};
</script>
