<template>
  <v-radio-group :value="responce" @change="$emit('change', $event)">
    <v-radio
      v-for="answersRadio in question.answers"
      :key="answersRadio.code"
      :value="answersRadio.code"
      on-icon="fas fa-check-circle"
      off-icon="far fa-circle"
    >
      <template slot="label">
        <div v-html="answersRadio.label"></div>
      </template>
    </v-radio>
  </v-radio-group>
</template>

<script>
export default {
  name: "formradio",
  model: {
    prop: "responce",
    event: "change"
  },

  props: {
    question: {
      type: Object,
      required: true
    },
    responce: [String, Number]
  }
};
</script>