<template>
  <v-checkbox
    type="checkbox"
    @change="
      $emit('my-event', $event);
      $emit('change', $event);
    "
    :value="question.code"
    on-icon="fas fa-check-square"
    off-icon="far fa-square"
  >
    <template slot="label">
      <div v-html="question.label"></div>
    </template>
  </v-checkbox>
</template>

<script>
export default {
  name: "formcheckbox",

  model: {
    prop: "responce",
    event: "change"
  },

  props: {
    question: {
      type: Object,
      required: true
    },
    responce: ""
  }
};
</script>
