<template>
  <v-container class="fill-height mb-10" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="4">
        <v-card>
          <div v-for="question in questions.questions" :key="question.label">
            <div v-if="question.code !== 'age'">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>{{question.label}}</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <formradio
                  :question="question"
                  v-model="answeres[question.code]"
                  @change="checkCoherenceAnswers()"
                ></formradio>
              </v-card-text>
            </div>
          </div>
          <div class="text-center pb-5">
            <v-btn color="primary lighten-1" @click="$emit('submitEvent',answeres)">Envoyer</v-btn>
          </div>

          <div v-if="alerteFalseAnswer">
            <v-alert
              type="error"
              border="left"
              transition="scale-transition"
            >Votre profile n'est pas cohérent !</v-alert>
          </div>
          <!-- {{answeres}} -->
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import formradio from "./formRadio";

export default {
  name: "formprofile",
  components: {
    formradio
  },
  icon: {
    iconfont: "fa",
    checkboxOff: "far fa-circle",
    checkboxOn: "fas fa-check-circle"
  },
  icon: {
    iconfont: "fa",
    checkboxOff: "far fa-square",
    checkboxOn: "fas fa-check-square"
  },

  data() {
    return {
      loading: true,
      questions: [],
      answeres: {},
      formExeptionsProfils: false,
      exeptionProfile: false,
      alerteFalseAnswer: false
    };
  },

  created() {
    this.loadQuestions();
  },

  methods: {
    /* 
        Cette fonction permet de recupérer les valeurs des checkbox et Radio 
        dans la partie question expert.
    */
    checkCoherenceAnswers() {
      let answer = this.answeres;
      for (const key in answer) {
        if (
          answer.sex == 1 &&
          (answer.specialCase == 1 || answer.specialCase == 3)
        ) {
          this.alerteFalseAnswer = true;
          break;
        } else if (
          (answer.ageRange == 1 ||
            answer.ageRange == 2 ||
            answer.ageRange == 3 ||
            answer.ageRange == 6 ||
            answer.ageRange == 7) &&
          (answer.specialCase == 1 || answer.specialCase == 3)
        ) {
          this.alerteFalseAnswer = true;
          break;
        } else {
          this.alerteFalseAnswer = false;
        }
      }
    },

    loadQuestions() {
      this.questions = this.$store.state.diagnostic.questions;
    }
  }
};
</script>