<template>
  <v-content>
    <div v-if="loading">
      <v-container style="height: 400px;">
        <v-row class="fill-height" align-content="center" justify="center">
          <v-col class="subtitle-1 text-center" cols="12"
            >Chargement du formulaire</v-col
          >
          <v-col cols="6">
            <v-progress-linear
              color="light-blue darken-1"
              indeterminate
              rounded
              height="6"
            ></v-progress-linear>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div v-else>
      <div v-if="alerte400">
        <v-alert type="error" border="left" transition="scale-transition"
          >Réponse incomplet!</v-alert
        >
      </div>
      <!-- Question sur le profile -->
      <div v-if="formExeptionsProfils">
        <formprofile @submitEvent="submitEventAnswers($event)"></formprofile>
      </div>
      <!-- Question sur les symptomes -->
      <div v-if="formExeptionsSymptoms">
        <formsymptom @submitEvent="submitEventAnswers($event)"></formsymptom>
      </div>

      <!-- Question expert qui change en fonction des réponses -->
      <div
        v-if="!formExeptionsProfils && !formExeptionsSymptoms && !endDiagnostic"
      >
        <formexpert @submitEvent="submitEventAnswers($event)"></formexpert>
      </div>

      <!-- Resultat du questionnaire -->
      <div v-if="endDiagnostic">
        <formresult></formresult>
      </div>
    </div>
  </v-content>
</template>

<script>
import formprofile from "./forms/formProfile";
import formsymptom from "./forms/formSymptom";
import formexpert from "./forms/formExpert";
import formresult from "./forms/formResult";

export default {
  components: {
    formprofile,
    formsymptom,
    formexpert,
    formresult
  },
  icon: {
    iconfont: "fa",
    checkboxOff: "far fa-circle",
    checkboxOn: "fas fa-check-circle"
  },
  icon: {
    iconfont: "fa",
    checkboxOff: "far fa-square",
    checkboxOn: "fas fa-check-square"
  },

  data() {
    return {
      checkboxDynamic: " ",
      alerte400: false,
      formExeptionsProfils: false,
      loading: true,
      questions: [],
      formExeptionsSymptoms: false,
      answeres: {},
      questionsMultipleTrue: false,
      questionsMultipleFalse: false,
      answersEnvironement: false,
      endDiagnostic: false,
      checkTypeQuestion: ""
    };
  },

  created() {
    this.loadQuestions();
  },

  methods: {
    submitEventAnswers(event) {
      this.answeres = event;
      this.setAnswere();
    },

    /* 
      Envoyé la réponse attendu par Api et faire un Get sur la session ping pour mettre à jour le session
      de l'utilisateur avant de recharger la page ce qui va modifier les questions qui sont récupéré dans la fonction loadingQuestion() 
    */
    setAnswere() {
      if (this.formExeptionsSymptoms) {
        this.answeres = {
          symptomId: this.answeres
        };
      } else if (this.formExeptionsProfils) {
        /* A rendre dinamique plus tard */
        let elementString = this.answeres;
        this.answeres = {
          ageRange: Number(elementString.ageRange),
          sex: Number(elementString.sex),
          specialCase: Number(elementString.specialCase),
          recentCase: Number(elementString.recentCase)
        };
      } else if (this.answersEnvironement) {
        const data = {};

        for (const key in this.answeres) {
          const type = key.split("|")[1];

          if (!data[type]) {
            data[type] = [this.answeres[key]];
          } else {
            data[type].push(this.answeres[key]);
          }
        }
        this.answeres = {
          environment: [
            {
              type: "SMG",
              value: Number(data["environment:SMG"])
            },
            {
              type: "MT",
              value: Number(data["environment:MT"])
            },
            {
              type: "HP",
              value: Number(data["environment:HP"])
            }
          ]
        };
      } else if (
        !this.formExeptionsProfils &&
        !this.formExeptionsSymptoms &&
        !this.endDiagnostic
      ) {
        const tmp = {};
        const data = {};

        /* Rassembler les reponses qui on la même prop */
        for (const key in this.answeres) {
          const type = key.split("|")[0];

          if (!tmp[type]) {
            tmp[type] = [this.answeres[key]];
          } else {
            tmp[type].push(this.answeres[key]);
          }
        }

        for (const key in tmp) {
          if (tmp[key] !== "") {
            data[key] = tmp[key].join(",");
          }
        }

        this.answeres = data;
      }

      this.alerte400 = false;
      this.$store
        .dispatch("diagnostic/setAnswereDiag", this.answeres)
        .then(resp => {
          this.loading = true;
          this.answeres = {}; /* Met à 0 l'object car elle stock les reponces des anciens questions*/
          this.loadQuestions();
        })
        .catch(err => {
          this.alerte400 = true;
        });
    },
    loadQuestions() {
      let url = this.getNextServiceUrl();

      this.$store.dispatch("diagnostic/loadQuestionsDiag", url).then(() => {
        if (url !== "API") {
          this.loading = false;
          this.searchExeptionForm();
        } else {
          this.endDiagnostic = true;
          this.questions = this.$store.state.diagnostic.questions;
          this.loading = false;
        }
      });
    },

    /* 
    Le nextService sont les choix possible en PUT apres chaque POST de session ping  
    Ici il est obligatoire de le filter car il y a des get qui ne fonctionne pas et la fin du questionnaire
    arrive quand le SystemExpertDiagnose apparait, puis on doit générer le bon url à envoyer
    */
    getNextServiceUrl() {
      let questionsArray;
      let nextService = this.$store.state.diagnostic.nextService;
      if (typeof nextService == "string") {
        questionsArray = nextService.split(",");
      } else {
        questionsArray = nextService;
      }
      let resp = "";

      for (const index in questionsArray) {
        if (
          questionsArray[index] !== "SymptomsBodyZone" &&
          questionsArray[index] !== "SessionPing" &&
          questionsArray[index] !== "SessionDeeper" &&
          questionsArray[index] !== "SubjectId" &&
          questionsArray[index] !== "SubjectSearch" &&
          questionsArray[index] !== "SystemExpertReport" &&
          questionsArray[index] !== "SystemExpertReportFile"
        ) {
          resp = questionsArray[index];
        }
      }
      return this.editNameUrl(resp);
    },
    editNameUrl(resp) {
      let buildUrl = "";
      switch (resp) {
        case "ProfileQuestions":
          buildUrl = "Profiles";
          break;
        case "Symptoms":
          buildUrl = "Symptoms";
          break;
        case "SystemExpertQuestions":
          buildUrl = "SystemExperts";
          break;
        case "SystemExpertDiagnoses":
          buildUrl = "Diagnoses";
          break;
        default:
          "erreur";
          break;
      }
      return "API" + buildUrl;
    },

    checkTypeQuestions() {
      let checkposibleAnswere = this.$store.state.diagnostic.questions
        .questions;

      for (const index in checkposibleAnswere) {
        if (checkposibleAnswere[index].multiple === null) {
          this.questionsMultipleFalse = true;
          this.questionsMultipleTrue = false;
        } else {
          this.questionsMultipleTrue = true;
          this.questionsMultipleFalse = false;
          this.checkTypeQuestion = checkposibleAnswere[index].type;
        }
      }
      for (const index2 in checkposibleAnswere) {
        if (checkposibleAnswere[index2].type == "environment") {
          this.answersEnvironement = true;
        } else {
          this.answersEnvironement = false;
        }
      }
    },

    /* 
      Le formulaire symptoms et profile sont traité de façon différente il faut donc
      avant d'afficher les questions connaitre si il sont présent.
    */
    searchExeptionForm() {
      this.questions = this.$store.state.diagnostic.questions;
      const checkQuestions = this.questions;

      if (checkQuestions.symptoms !== undefined) {
        this.formExeptionsSymptoms = true;
        this.formExeptionsProfils = false;
      } else if (
        checkQuestions.questions[0].code == "age" ||
        checkQuestions.questions[0].label == "Votre âge"
      ) {
        this.formExeptionsProfils = true;
        this.formExeptionsSymptoms = false;
      } else {
        this.checkTypeQuestions();
        this.formExeptionsSymptoms = false;
        this.formExeptionsProfils = false;
      }
    }
  }
};
</script>
