<template>
  <v-content>
    <div v-if="alerte">
      <v-alert type="error" border="left" transition="scale-transition"
        >Votre mot de passe ou numéro d'adherent sont incorrecte</v-alert
      >
    </div>
    <div v-if="seen">
      <v-container class="fill-height" fluid>
        <v-layout class="mt-12" align-center justify-center>
          <v-col cols="12" sm="8" md="4">
            <v-hover>
              <template v-slot="{ hover }">
                <v-card :elevation="hover ? 24 : 6">
                  <v-toolbar color="primary lighten-1" dark flat>
                    <v-toolbar-title>Connection</v-toolbar-title>
                    <v-spacer />
                    <v-spacer />
                  </v-toolbar>
                  <v-card-text>
                    <v-form
                      class="login"
                      @submit.prevent="login"
                      v-model="valid"
                    >
                      <v-text-field
                        label="Numéro d'adhérent"
                        v-model="username"
                        :rules="usernameRules"
                        prepend-icon="person"
                        type="text"
                        required
                      />
                      <v-text-field
                        id="password"
                        label="Mot de passe"
                        v-model="password"
                        :rules="passwordRules"
                        prepend-icon="lock"
                        type="password"
                        required
                      />
                      <v-btn
                        class="mt-5"
                        type="submit"
                        color="primary lighten-1"
                        >Connection</v-btn
                      >
                      <v-btn
                        class="mt-5 white--text"
                        v-on:click="seen = !seen"
                        color="green"
                        >Information oubliée</v-btn
                      >
                    </v-form>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer />
                  </v-card-actions>
                </v-card>
              </template>
            </v-hover>
          </v-col>
        </v-layout>
      </v-container>
    </div>
    <div v-if="!seen">
      <forgetforms></forgetforms>
      {{ alerteOf() }}
      <v-row class="mb-5" justify="center">
        <v-btn
          class="text-cente white--text mb-12"
          @click="seen = !seen"
          color="green"
          >Retour</v-btn
        >
      </v-row>
    </div>
  </v-content>
</template>

<script>
import forgetforms from "./formForget";

export default {
  name: "formlogin",
  components: { forgetforms },
  props: {
    source: String
  },

  data() {
    return {
      seen: true,
      valid: false,
      alerte: false,
      username: "",
      usernameRules: [
        v => !!v || "Le numéro d'adhérent est requis",
        v =>
          (v && v.length == 13) || "Le numéro d'adhérent comporte 13 Caractère"
      ],
      password: "",
      passwordRules: [v => !!v || "Le mot de passe est requis"],
      data() {
        return {
          alerte: false,
          dialog: false
        };
      }
    };
  },

  methods: {
    alerteOf() {
      this.alerte = false;
    },

    login() {
      let username = this.username;
      let password = this.password;

      this.$store
        .dispatch("login/loginStore", { username, password })
        .then(() => {
          this.$store.dispatch("userProfile/userProfile").then(() => {
            window.location.href = "http://localhost:8000";
          });
        })
        .catch(err => {
          this.alerte = true;
        });
    }
  }
};
</script>
