<template>
  <v-content>
    <v-container>
      <div v-if="goodAlerte">
        <v-alert type="success"
          >Vos information ont bien été envoyé a votre adresse email</v-alert
        >
      </div>
      <div v-if="alerte">
        <v-alert type="error" border="left" transition="scale-transition"
          >Information incorrecte.</v-alert
        >
      </div>
      <v-row class="mt-12">
        <v-row justify="center">
          <v-col cols="10">
            <v-hover>
              <template v-slot="{ hover }">
                <!-- Mot de passe oublié -->
                <v-card :elevation="hover ? 24 : 6">
                  <v-toolbar color="primary lighten-1" dark flat>
                    <v-toolbar-title>Mot de passe oubliée</v-toolbar-title>
                  </v-toolbar>
                  <v-card-text>
                    <v-form
                      class="login"
                      @submit.prevent="forgetPassword"
                      v-model="valid"
                    >
                      <v-text-field
                        label="Numéro d'adhérent"
                        v-model="username"
                        :rules="usernameRules"
                        type="text"
                        required
                      />
                      <v-btn
                        class="mt-5"
                        type="submit"
                        color="primary lighten-1"
                        >Envoyer</v-btn
                      >
                    </v-form>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer />
                  </v-card-actions>
                </v-card>
              </template>
            </v-hover>
          </v-col>
        </v-row>

        <v-row justify="center">
          <v-col cols="10">
            <v-hover>
              <template v-slot="{ hover }">
                <!-- Numéro d'adherent oublié-->
                <v-card :elevation="hover ? 24 : 6">
                  <v-toolbar color="primary lighten-1" dark flat>
                    <v-toolbar-title>Numéro d'adherent oublié</v-toolbar-title>
                  </v-toolbar>
                  <v-card-text>
                    <v-form
                      class="login"
                      @submit.prevent="forgetusername"
                      v-model="valid"
                    >
                      <v-text-field
                        label="E-mail"
                        v-model="email"
                        :rules="emailRules"
                        type="email"
                        required
                      />
                      <v-btn
                        class="mt-5"
                        type="submit"
                        color="primary lighten-1"
                        >Envoyer</v-btn
                      >
                    </v-form>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer />
                  </v-card-actions>
                </v-card>
              </template>
            </v-hover>
          </v-col>
        </v-row>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
export default {
  name: "forgetforms",

  data() {
    return {
      valid: false,
      goodAlerte: false,
      alerte: false,
      seen: true,
      username: "",
      usernameRules: [
        v => !!v || "Le numéro d'adhérent est requis",
        v =>
          (v && v.length == 13) || "Le numéro d'adhérent comporte 13 Caractère"
      ],
      email: "",
      emailRules: [
        v => !!v || "Un e-mail est requis",
        v => /.+@.+/.test(v) || "L'email doit étre valider"
      ],
      data() {
        return {
          dialog: false
        };
      }
    };
  },

  methods: {
    forgetPassword() {
      let username = this.username;

      this.$store
        .dispatch("forgetPassword/forgetPassword", { username })

        .then(() => {
          this.goodAlerte = true;
        })
        .catch(err => {
          this.alerte = true;
        });
    },

    forgetAdherentNumber() {
      let email = this.email;

      this.$store
        .dispatch("forgetAdherentNumber/forgetAdherentNumber", { email })

        .then(() => {
          this.goodAlerte = true;
        })
        .catch(err => {
          this.alerte = true;
        });
    }
  }
};
</script>
