<template>
  <v-content>
    <div v-if="checkConnection">
      <v-btn color="success" @click="startDiagnostic"
        >Commencer le questionnaire</v-btn
      >
    </div>
    <div v-if="!checkConnection">
      Il faut étre incrit connecté pour commencer un questionnaire
    </div>
  </v-content>
</template>

<script>
export default {
  data() {
    return {
      checkConnection: this.$store.getters["login/isLogged"]
    };
  },

  methods: {
    startDiagnostic() {
      let identifier = "Qape";
      let lang = "fr";

      this.$store
        .dispatch("diagnostic/sessionStartDiag", { identifier, lang })
        .then(() => {
          this.$store.dispatch("diagnostic/sessionPingDiag").then(() => {
            window.location.href = "http://localhost:8000/formDiagnostic";
          });
        });
    }
  }
};
</script>
