<template>
<div class="mb-3"> 
  <v-toolbar position: fixed color="primary lighten-1">
  <v-btn  @click.prevent="home" text color="white">Kovers</v-btn>

    <v-spacer></v-spacer>
 
    <v-toolbar-items>
        <v-btn @click.prevent="logout" v-if="checkConnection" text color="white">Déconnexion</v-btn>
        <v-btn @click.prevent="login" v-else text color="white">Connection</v-btn>
      <v-btn @click.prevent="showProfile" v-if="checkConnection" text color="white">Profile</v-btn>
    </v-toolbar-items>
    <template v-if="$vuetify.breakpoint.smAndUp"></template>
  </v-toolbar>
 
     <v-navigation-drawer v-model="drawer" temporary app dark class="primary" id="drawer">
        <v-list-item-content>
          <v-btn @click.prevent="logout" v-if="checkConnection" text color="white">Déconnexion</v-btn>
          <v-btn @click.prevent="login" v-else text color="white">Connection</v-btn>
          <v-btn @click.prevent="showProfile" v-if="checkConnection" text color="white">Profile</v-btn>
      </v-list-item-content>
    </v-navigation-drawer>

 </div>
</template>
<script>
import { METHODS } from 'http';

class TestClassSyntax {

}

export default {

  name: 'navbar',

  data () {
    return {
       drawer : null,
       checkConnection : this.$store.getters['login/isLogged']
      
    }
  },

  methods :{ 
    
    showProfile () {

      window.location.href="http://localhost:8000/profile"
      
    },

    home(){

      window.location.href="http://localhost:8000"

    },

    login(){

      window.location.href="http://localhost:8000/connection"

    },

    logout: function () {
        this.$store.dispatch('login/logout')
        .then(() => {
          window.location.href="http://127.0.0.1:8000"
        })
      }
    
    }
     

  }


</script>
