<template>
  <v-container fill-height grid-list-xl>
    <v-row>
      <v-col cols="12">
        <v-row align="alignment" justify="justify">
          <v-layout justify-center wrap>
            <v-flex xs12 md8>
              <v-hover>
                <template v-slot="{ hover }">
                  <!-- Mot de passe oublié -->
                  <v-card :elevation="hover ? 24 : 6">
                    <v-card
                      color="primary lighten-1"
                      elevation="24"
                      class="mb-10"
                    >
                      <div class="pb-6 pt-6 text-center">
                        <h3 class="white--text">Information personnelle</h3>
                      </div>
                    </v-card>

                    <v-form>
                      <v-container py-0>
                        <v-layout wrap>
                          <v-flex xs12 md4>
                            <v-text-field
                              label="Numero d'adhérent"
                              :placeholder="reference"
                              disabled
                            />
                          </v-flex>
                          <v-flex xs12 md4>
                            <v-text-field
                              label="Début de contract"
                              :placeholder="contractStartDate"
                              disabled
                            />
                          </v-flex>
                          <v-flex xs12 md4>
                            <v-text-field
                              label="Numéro de sécurité social"
                              :placeholder="socialSecurity"
                              disabled
                            />
                          </v-flex>
                          <v-flex xs12 md6>
                            <v-text-field
                              label="Nom"
                              :placeholder="firstName"
                              disabled
                            />
                          </v-flex>
                          <v-flex xs12 md6>
                            <v-text-field
                              label="Prenom"
                              :placeholder="lastName"
                              disabled
                            />
                          </v-flex>
                          <v-flex xs12 md12>
                            <v-text-field
                              label="Adresse"
                              :placeholder="adress"
                              disabled
                            />
                          </v-flex>
                          <v-flex xs12 md4>
                            <v-text-field
                              label="Ville"
                              :placeholder="city"
                              disabled
                            />
                          </v-flex>
                          <v-flex xs12 md4>
                            <v-text-field
                              label="Code postal"
                              :placeholder="postalCode"
                              disabled
                            />
                          </v-flex>
                          <v-flex xs12 md4>
                            <v-text-field
                              label="E-mail"
                              :placeholder="email"
                              disabled
                            />
                          </v-flex>
                          <v-flex xs12></v-flex>
                          <v-flex xs12 text-xs-right></v-flex>
                        </v-layout>
                      </v-container>
                    </v-form>
                  </v-card>
                </template>
              </v-hover>
            </v-flex>
            <v-flex xs12 md4>
              <v-avatar slot="offset" class="mx-auto d-block" size="130">
                <div v-if="socialSecurity[0] == '2'">
                  <img
                    src="https://img.icons8.com/ultraviolet/100/000000/user-female-circle.png"
                  />
                </div>
                <div v-else>
                  <img
                    src="https://img.icons8.com/ultraviolet/100/000000/user-male-circle.png"
                  />
                </div>
              </v-avatar>
              <v-card class="mb-12">
                <v-card-text class="text-xs-center">
                  <h3 class="category">Partenaire</h3>
                  <h4 class="font-weight-thin">Nom : {{ partnerLastName }}</h4>
                  <h4 class="font-weight-thin">
                    Prenom : {{ partnerFirstName }}
                  </h4>
                  <h3 class="category">Enfant</h3>
                  <div v-for="childrens in children" :key="childrens.id">
                    <h4 class="font-weight-thin">
                      Nom : {{ childrens.lastName }}
                    </h4>
                    <h4 class="font-weight-thin">
                      Prenom : {{ childrens.firstName }}
                    </h4>
                  </div>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "userprofile",
  data() {
    return {
      reference: this.$store.state.userProfile.dataUser.reference,
      lastName: this.$store.state.userProfile.dataUser.lastName,
      firstName: this.$store.state.userProfile.dataUser.firstName,
      email: this.$store.state.userProfile.dataUser.email,
      phone: this.$store.state.userProfile.dataUser.phone,
      adress: this.$store.state.userProfile.dataUser.adress,
      city: this.$store.state.userProfile.dataUser.city,
      postalCode: this.$store.state.userProfile.dataUser.postalCode,
      contractStartDate: this.$store.state.userProfile.dataUser
        .contractStartDate,
      socialSecurity: this.$store.state.userProfile.dataUser.socialSecurity,
      partnerFirstName: this.$store.state.userProfile.dataUser.partner
        .firstName,
      partnerLastName: this.$store.state.userProfile.dataUser.partner.lastName,
      children: this.$store.state.userProfile.dataUser.children
    };
  }
};
</script>
