<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/front.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.x/css/font-awesome.min.css" rel="stylesheet">
        {# <link href="bower_components/material-design-icons-iconfont/dist/material-design-icons.css" rel="stylesheet"> #}

        
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
    
    </head>
    <body>
       
        {% block body %}
        <div id="bodyFront">
            <v-app id="inspire">
                <navbar></navbar>
                
                {% block content %}

                
                {% endblock %}
                <southbar></southbar>
            </v-app>
        </div>
        {% endblock %}
        
        
        {% block javascripts %}
   
        <script src="{{ asset('build/front.js') }}"></script>
        
        {% endblock %}
        
    </body>
</html>